<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<servlet>
		<description></description>
		<display-name>check</display-name>
		<servlet-name>check</servlet-name>
		<servlet-class>Automation.Web.controllers.admin.check</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>check</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>
	<display-name>JPA_Automation</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>MultiPartServlet</servlet-name>
		<servlet-class>Automation.Web.controllers.admin.CategoryController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MultiPartServlet</servlet-name>
		<url-pattern>/admin/categories</url-pattern>
		<url-pattern>/admin/category/create</url-pattern>
		<url-pattern>/admin/category/update</url-pattern>
		<url-pattern>/admin/category/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VideoServlet</servlet-name>
		<servlet-class>Automation.Web.controllers.admin.VideoController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VideoServlet</servlet-name>
		<url-pattern>/admin/videos</url-pattern>
		<url-pattern>/admin/video/create</url-pattern>
		<url-pattern>/admin/video/update</url-pattern>
		<url-pattern>/admin/video/delete</url-pattern>
	</servlet-mapping>


</web-app>